.main {
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}
.products-hero {
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}
.image-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.image-contain {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.image-custom1 {
    background-size: 80%;
}
@media (max-width: 600px) {
    .main {
        height: 400px;
    }
}

@media screen and (min-width: 576px) {
    .card-wrapper {
        display: flex;
        justify-content: center;
    }
    .card-item {
    transition: all 500ms ease;

        margin: 1em;
        width: 25%;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));

    }

    .card-item:hover {
        -webkit-transition:all 500ms ease;

        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
            margin: 1em;
            width: 25%;
        }
}



.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative;

}

.product-img:hover{
    overflow: hidden;
    position: relative;
}


.mb-45 {
    margin-bottom: 45px;
}
.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s;
    padding: 1em;
}
.product-wrapper {
    border-radius: 10px;
    border-color: black;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}
.product-img > span {
    background-color: #1F618D;
    border-color: black;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    border-radius: 10px;
    padding:0.5em
}

.original-price{
    background-color: #ECF0F1;
    border-color: black;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
    color: #000;
    display: inline-block;
    font-size: 15px;
    font-weight: 200;
    text-decoration: line-through;
    left: 20px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    border-radius: 10px;
    padding:0.5em
}
.sale{
    background-color: red;
    border-color: black;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    left: 80px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
    border-radius: 10px;
    padding:0.5em
}
.product-action-style {
    background-color: #1F618D;
    color: #fff;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    display: inline-block;
    border-radius: 25px;
    padding:0.5em;
    
}
.product-action-style > a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

.product-wrapper:hover .product-action {
    bottom: 5px;
    opacity: 1;
    padding: 1em;
}

.customer{
    transition: all 500ms ease;

}
.customer:hover{
    -webkit-transition:all 0.4s ease;

    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

#imghero{
    transition: all 500ms ease;
}

#imghero:hover{
    -webkit-transition:all 500ms ease;

    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.product-card{
    transition: all 500ms ease;

}

.product-card:hover{
    -webkit-transition:all 500ms ease;

    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}


.category-card {
    transition: all 500ms ease;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));

    }

.category-card:hover {
        -webkit-transition:all 500ms ease;

        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.3));
        }