.main {
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}
.products-hero {
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}
.image-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.image-contain {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.image-custom1 {
    background-size: 80%;
}
@media (max-width: 600px) {
    .main {
        height: 400px;
    }
}

@media screen and (min-width: 576px) {
    .card-wrapper {
        display: flex;
        justify-content: center;
    }
    .card-item {
        margin: 1em;
        width: 25%;
    }
}


.mt-100 {
    margin-top: 100px;
}
.product-wrapper,
.product-img {
    overflow: hidden;
    position: relative;
}
.mb-45 {
    margin-bottom: 45px;
}
.product-action {
    bottom: 0px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all 0.6s ease 0s;
}
.product-wrapper {
    border-radius: 10px;
}
.product-img > span {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.03);
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 20px;
}
.product-action-style {
    background-color: #fff;
    box-shadow: 0 0 8px 1.7px rgba(0, 0, 0, 0.06);
    display: inline-block;
    padding: 16px 2px 12px;
}
.product-action-style > a {
    color: #979797;
    line-height: 1;
    padding: 0 21px;
    position: relative;
}
.product-action-style > a.action-plus {
    font-size: 18px;
}
.product-wrapper:hover .product-action {
    bottom: 20px;
    opacity: 1;
}

.customer{
    transition: all 500ms ease;

}
.customer:hover{
    -webkit-transition:all 0.4s ease;

    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

#imghero{
    transition: all 500ms ease;
}

#imghero:hover{
    -webkit-transition:all 500ms ease;

    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}